html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: url(img/chess.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}
#board {
  display: flex;
  flex-wrap: wrap;
  outline: 4px rgb(68, 55, 45) solid;
  width: 80vh;
  height: 80vh;
  position: relative;
}
table,
tr,
th,
td {
  display: block;
}
tbody {
  display: flex;
}
tr {
  flex-grow: 1;
  float: left;
}
#promotionDiv {
  display: grid;
  justify-items: center;
  height: 80vh;
  width: 30vh;
  margin-right: 2%;
  padding: 2%;
  outline: 4px silver solid;
  background-color: rgb(68, 55, 45);
  color: white;
  z-index: 10;
  opacity: 0.9;
}
.hidden {
  visibility: hidden;
}
.logWrapper{
  margin-left: 2%;
  width: 30vh;
}
#resetBtn {
  background-color: rgb(68, 55, 45);
  opacity: 0.9;
  color: white;
  font-size: large;
  padding: 3%;
  margin-top: 2vh;
  margin-right: 2%;
  outline: 4px silver solid;
  border: none;
  align-items: flex-end;
  height: 10vh;
  width: 30vh;
}
#resetBtn:hover{
  opacity: 0.7;
}
#moves {
  display: inline-block;
  justify-content: center;
  overflow: auto;
  padding-left: 3%;
  height: 68vh;
  width: 30vh;
  outline: 4px silver solid;
  background-color: rgb(68, 55, 45);
  color: white;
  line-height: 1.6vw;
  opacity: 0.9;
}
.promClass {
  color: white;
  padding: 10px
}
.hover:hover {
  color: grey
}

/* squares start */
.square {
  /* border: 1px darkslategrey solid; */
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 7.5vh;
}
.light {
  background: #c0b0a1;
  color: rgb(68, 55, 45);
}
.dark {
  background:rgb(68, 55, 45);
  color: #c0b0a1;
}
.black {
  color: black;
}
.white {
  color: white;
}
.possibleMove {
  background: rgb(210, 216, 241);
}
/* squares end */
/* indexes start */
.index {
  position: absolute;
  /* border: 1px darkslategrey solid; */
  width: 2.5vh;
  height: 2.5vh;
  line-height: 2.5vh;
  font-size: 2.5vh;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.3vh 0.5vh;
}
.index.num {
  background-color: transparent;
}
.index.letter {
  background-color: transparent;
}
.num {
  text-align: left;
}
.letter {
  bottom: 0;
  text-align: right;
}
.lightIndex {
  color: rgb(68, 55, 45);
}
/* indexes end */
.check {
  background: crimson;
}