html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: url(img/chess.jpg) no-repeat center center fixed;
  background-size: cover;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board {
  display: flex;
  flex-wrap: wrap;
  outline: 5px black solid;
  width: 80vh;
  height: 80vh;
}
.square {
  /* border: 1px darkslategrey solid; */
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 7.5vh;
}
.light {
  background: beige;
 
}
.dark {
  background: purple;
  opacity: 0, 8;
}
.black {
  color: black;
}
.white {
  color: white;
}
.possibleMove {
  background: silver;
}
